*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    background-color: black;
}

body{
    color: #fff;
    padding: 100px 200px;
    line-height: 35px;
    color: #0ef;

}
h2{
    color: rgb(246, 42, 240);
    text-align: center;
    line-height: 90px;
    text-decoration:underline;
}
h2:hover{
    color: #0ef;
    transition: 0.3s;
    cursor: pointer;
}
p{
    text-align: justify;
}
p:hover{
    color:rgb(246, 42, 240); 
    transition: 0.7s;

}