*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    background-color: black;
}

body{
    color: #fff;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    background: none;
}
.logo{
    position: relative;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    font-style: oblique;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    text-decoration: none;
  background: none;
  color: #0ef;
  text-shadow:3px rgb(246, 42, 240);
   
}
.navbar :hover{
    color: rgb(246, 42, 240);
}

.home{
   position: relative; 
   width: 100%;
   justify-content: space-between;
   height: 100vh;
   /* background: url(photo.jpg); */
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   padding: 70px 10% 0;

}
.home-content{
    max-width: 600px;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700px;
    margin: -3px 0;
    color: rgb(246, 42, 240);


}
.home-content h1{
    font-size: 34px;
    color: #0ef;
}
.home-content p{
    margin: 20px 0;
    font-size: 20px;
}
.home-content p:hover{
    color: #0ef;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    margin: 30px 15px 30px 0px;
    color: #0ef;
}
.home-sci a:hover{
    background: rgb(246, 42, 240);
    color:rgb(246, 42, 240);
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}
.btn-box:hover{
    box-shadow: 0 0 20px rgb(246, 42, 240) ,
    0 0 5px cyan, 0 0 5px cyan,0 0 5px cyan,0 0 5px cyan;
}

@keyframes slideRight{

    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.photo img{
    
    width: 250px;
}
.my_photo{
    border-radius: 35px;
    border: 5px solid cyan;
    box-shadow: 0 0 20px cyan ;
   
}
.my_photo:hover{
    border: 5px solid rgb(246, 42, 240) ;
    box-shadow: 0 0 20px rgb(246, 42, 240) ;
    transition: 0.5s;

}